.infoContainer {
    
    margin-top: 50px;
    width: 100%;
    

}

.information {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    
    gap: 2rem;
    margin-right: 10vw;
    margin-left: 10vw;
    
    border-width: 1px;

    border:black;
    border-style: solid;
    border-width: 1px;

    font-size: 50px;
}

.information:after {
    content: " ";
    display: block;
    position: absolute;
    width: 1px;
}
