.commercialPageContainer {
    margin-bottom: 65%;
    height: fit-content;
}
.imageContainer {
    width: 100%;
}
.commCardImage {
    object-fit: cover;
    width: 100%;
    height: 400px;
}
.cardTitle {
    font-size: 60px;
    margin-top: 32px;
    margin-left: 5%;
}

.infoContainer {
    margin-bottom: 10px;
    margin-top: 50px;
    width: 100%;
}
.testOfBorders{
    display: none;
}
@media  screen and (max-width: 600px) {
    .testOfBorders{
        display: block;
        width: 30%;
        border-bottom: 1px solid #700000;
    }
}
@media  screen and (min-width: 600px) {
    .testOfBorders{
        display: block;
        border-left: 1px solid #700000;
        height: 5vh;
    }
}

.infoBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    gap: 2rem;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 30px;
    border: 1px solid rgb(138, 46, 46);
    padding: 1%;
}
@media  screen and (max-width: 600px) {
    .infoBox {
        flex-direction: column;
        gap: 1rem;
        line-height: 0.6;
        border: none;
    }
}

.information:after {
    content: " ";
    display: block;
    position: absolute;
    width: 1px;
}

.fullDescription {
    margin-top: 10vh;
    margin-right: 10vw;
    margin-left: 20px;
    font-size: 20px;
}

.productsAndImage {
    margin: 5%;
    margin-top: 10%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
@media  screen and (max-width: 1128px) {
    .productsAndImage {
        display: inline-block;
        width: 100%;
        height: 80%;
        margin: 0;
        margin-top: 5%;
    }
}


.dangerousProduct{
    font-size: 25px;
    margin-left: 5%;
    width: 40%;
}
@media  screen and (max-width: 1128px) {
    .dangerousProduct{
        margin-top: 15%;
        margin-left: 5%;
        width: 90%;
    }
}


.imageContainerProduct {
    width: 50%;
    height: 60%;
}
@media  screen and (max-width: 1128px) {
    .imageContainerProduct {
    width: 100%;
    height: 100%;
    margin: 0;
    }
}


.commCardImageProduct {
    object-fit: cover;
    width: 100%;
    height: 50%;
}


.detailDescription {

    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 25px;
} 

