.card-container {
    width: 270px;
    height: 430px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    background-color: white;
    border-radius: 0.5rem;
    line-height: 90%;
}
.card-container:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 15px -5px;
}

.cardImage {
    object-fit: cover;
    width: 270px;
    height: 230px;
}

.cardContent {
    margin: 0.5rem;

}
.cardTitleMain {
    font-size: 25px;
    line-height: 90%;
    min-height: 50px;
}

.card-btn {
    font-size: medium;
    text-align: center;
    color: white;
    padding: 0.6rem;
    background: linear-gradient(to right, #ff947f, #cf6394);
    border: none;
    transition: 0.2s;
    border: none;
    border-radius: 1rem;
    display: inline-block;
    margin-left: 26%;
    margin-top: 8px;
}

.button:hover{
    transform: scale(1.02);
    box-shadow: 0px;
    
}

.iconsCard {
    margin-top: 10px;
    margin-bottom: 5px;
    display: grid;
    justify-items: center;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 30px 30px;
    column-gap: 30px;
    row-gap: 1px;
}

