.menu {
    color: green;
}
.menu:hover {
    text-decoration: underline;
    color: #700000;
}

.foodInspiration {
    margin-left: 15px;
    color: #8c0608;
    font-size: 30px;
    font-weight: bold;
}

@media  screen and (max-width: 550px) {
.foodInspiration {
    display: none;
}}


.menudd-container {
    display: flex;
    align-items: center;
    border:hidden;
  }
  
.menudd-trigger {
    background: transparent;
    border-radius: 90px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;


    border: hidden;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;

  }

  
  .menudd-trigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 14px;
  }
  

  .menudd {
    border:hidden;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 1; 
    visibility: hidden; 
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    border-radius: 8px;
    background-image: linear-gradient(to right, #ffedf6 ,  #ffdfb9);
    position: absolute;
    top: 60px;
    width: 17vw;
    font-size: 130%;
  }
  
  .menudd a:hover {
      text-decoration: underline;
  }

  .menudd.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 9999;
  }
  
  .menudd ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menudd li {
    border-bottom: 1px solid #dddddd;
  }
  
  .menudd li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
  }
  .cont2 {
    transform: rotateZ(180deg);
  }
  .cont {
    transform: rotateZ(0deg);
  }