.item {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.imgg {
    object-fit: cover;
    width: 230px;
    height: 500px;
}

.carousel-caption {
    top: 75%;
    color:black;
    text-shadow: 1px 0px 2px white, -1px 0px 2px white, 0px 1px 2px white, 0px -1px 2px white;
}
.carousel-indicators {
    position: absolute;
    top: 90%;
    
}
.carousel-control-prev-icon {
    height: 20%;
}